# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Xcode user-specific files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
UserInterfaceState.xcuserstate
xcuserdata/
*.xcuserdatad

# Xcode source control metadata
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
